.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    height: 100%;
}

.about-container .about-me{
    width: 26%;
    border-radius: 3rem;
    background: linear-gradient(
        45deg, 
        transparent, 
        var(--medium-pink), 
        transparent);
    display: flex;
    justify-content: center;
    align-self: center;
    height: 275px;
    position: relative;
}

.about-me img{
    border-radius: 3rem;
}

.about-me .about-me-img{
    transform: rotate(10deg);
    transition: var(--transition);
    position: relative;
    background: var(--light-pink);
    mix-blend-mode:luminosity;
    border-radius: 3rem;
    box-shadow: 0 0 8px var(--dark-pink)
}

.about-me .about-me-img:hover{
    transform: rotate(0deg);
}

.about-cards{
    display: flex;
    gap: 1rem;
    width: 80%;
    margin-top: 1.5rem;
}

.about-cards .about-card{
    background-color: var(--medium-pink);
    border: 1px solid transparent;
    border-radius: 1rem;
    margin: 0 30px;
    padding: 0.5rem;
    text-align: center;
    width: 33%;
    transition: var(--transition);
    box-shadow: 0 0 5px var(--medium-pink)
}

.about-cards .about-card:hover{
    background: transparent;
    color: var(--medium-pink);
    border: 1pt solid var(--dark-pink);
}

.about-card h5{
    font-size: 1rem;
}

.about-content .about-icon{
    color: var(--dark-pink);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about-card small{
    font-size: 0.8rem;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about-content > p{
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 3.7rem;
    margin-bottom: 0.2rem;
    text-align: justify;
    color: var(--medium-pink);
}

.about-container .fale-btn{
    border: 2px solid var(--light-brown);
    text-transform: uppercase;
    border-radius: 0.625rem;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    color: var(--light-pink);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
    max-width: 15rem;
    margin-bottom: 1.5rem;
}


.fale-btn:hover{
    background-color: var(--dark-pink);
    color: var(--light-pink);
    transition: .5s ease-in-out;
    font-weight: 600;
    border: none;
}


@media screen and (max-width: 1024px) {
    .about-container{
        flex-direction: column;
    }

    .about-container .about-me{
        width: 20%;
        margin: 1rem 2rem;
    }

    .about-cards{
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .about-cards .about-card{
        min-width: 30%;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .about-container .about-me{
        width: 25%;
        height: 25%;
        margin-top: -1rem;

    }

    .about-me .about-me-img{
        width: 100%;
        transform: rotate(0deg);
    }

    .about-container .about-me img{
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .about-container .about-me{
        width: 30%;
        margin: 1rem 2rem;
    }
    .about-cards{
        flex-direction: column;
    }

    .about-cards .about-card{
        width: 60%;
        gap: 0.5rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }

    .about-card h5{
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    
    .about-content .about-icon{
        font-size: 2rem;
    }
    
    .about-card small{
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .about-container .about-me{
        width: 35%;
    }   
        .about-cards{
        flex-direction: column;
    }

    .about-card h5{
        font-size: 1rem;
        text-transform: uppercase;
    }
    
    .about-content .about-icon{
        font-size: 1.7rem;
    }
    
    .about-card small{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 400px) {
    .about-container .about-me{
        width: 45%;
    }
    
    .about-cards{
        flex-direction: column;
    }

    .about-card h5{
        font-size: 0.9rem;
        text-transform: uppercase;
    }
    
    .about-content .about-icon{
        font-size: 1.6rem;
    }
    
    .about-card small{
        font-size: 0.7rem;
    }
}

/*@media (max-width: 320px){
    .about-container{
        flex-direction: column;
    }

    .about-cards{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .about-cards .about-card{
        width: 70%;
        height: 175px;
        font-size: 2rem;
    }

    .about-content .about-icon{
        font-size: 2rem;
        margin-top: 1rem;
    }

    .about-card h5{
        font-size: 1.5rem;
    }

    .about-card small{
        font-size: 1rem;
    }

    .about-container .about-me{
        height: 180px;
    }

    .about-me img{
        height: 180px;
        transform: rotate(-10deg);
    }
} */