.contact-btn{
    border: 2px solid var(--light-brown);
    text-transform: uppercase;
    border-radius: 0.625rem;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    margin: 2rem 1rem;
    font-weight: 500;
    color: var(--light-pink);
    min-width: 50%;
    cursor: pointer;
    text-decoration: none;
}

.contact-btn:hover{
    background-color: var(--dark-pink);
    color: var(--light-pink);
    transition: .5s ease-in-out;
    font-weight: 600;
    border: none;
}