section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.goals-container{
    margin-bottom: 1rem;
    background-color: var(--medium-black);
}

.goals-container p{
    display: flex;
    align-items: center;
    line-height: 2rem;
    width: 80%;
    margin: 5rem 10%;
    background-color: var(--medium-pink);
    border-radius: 2rem;
    padding: 1.5rem;
    color: var(--medium-black);
    font-weight: 600;
    box-shadow: 0 0 5px var(--medium-pink);
}

@media screen and (max-width: 600px){
    .goals-container{
        height: 100%;
    }
}