.goals-container{
    margin-bottom: 1rem;
}

.goals-container p{
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 10%;
    background-color: var(--medium-pink);
    border-radius: 2rem;
    padding: 1.5rem;
    color: var(--medium-black);
    font-weight: 600;
}