.goals-container{
    margin-bottom: 1rem;
    background-color: var(--medium-black);
    height: 90vh;
}

.goals-container p{
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 10%;
    background-color: var(--medium-pink);
    border-radius: 2rem;
    padding: 1.5rem;
    color: var(--medium-black);
    font-weight: 600;
    box-shadow: 0 0 5px var(--medium-pink)
}

@media screen and (max-width: 600px){
    .goals-container{
        height: 100%;
    }
}