/* NAVBAR */

.navbar{
    background-color: var(--medium-black);
    min-height: 70px;
    z-index: 2;
  }
  
  .navbar-brand{
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--light-pink) !important;
  }
  
  #nav .nav-link{
    font-weight: 500;
    letter-spacing: 0.0375rem;
    cursor: pointer;
    color: var(--light-pink);
    margin-right: 0.75rem;
    /* margin-left: 0.75rem; */
    text-transform: uppercase;
    border-top: 0.1875rem solid var(--medium-black);
  }
  
  #nav .nav-link:focus{
    border-top: 0.1875rem solid var(--dark-pink);
  }

  @media(max-width: 768px){
    .navbar-brand{
        font-size: 1.125rem;
    }
    #nav .nav-link{
      font-size: 0.875rem;
    }
}

@media(max-width: 480px){
  .navbar-brand{
      font-size: 0.875rem;
  }
  #nav .nav-link{
    font-size: 0.75rem;
  }
  .toggle{
    font-size: 1rem;
  }
}

@media(max-width: 364px){
  .navbar{
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .toggle{
    font-size: 0.75rem;
  }
}