
.portfolio-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    height: 100%;
}

.portfolio-container .portfolio-item{
    width: 100%;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2rem;
    border: 2pt solid var(--dark-pink);
    box-shadow: 0 0 4px var(--medium-pink);
    height: 100%;
}

.portfolio-item .portfolio-item-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--dark-pink);
    text-align: center;
    margin-top: 1rem;
    min-height: 12rem;
}

.portfolio-item-img img{
    width: 50%;
}

.portfolio-item-img h3{
    font-size: 1rem;
}

.portfolio-item-img h5{
    font-size: 1.1rem;
    margin-top: 0.3rem;
}

.portfolio-item p{
    color: var(--medium-pink);
    text-align: justify;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: 300;
}

.portfolio-item .project-info{
    height: 7rem;
}

.portfolio-item .portfolio-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10rem;
}

.portfolio-item .portfolio-link{
    border: 2px solid var(--light-brown);
    text-transform: uppercase;
    border-radius: 0.625rem;
    padding: 0.5rem;
    font-weight: 500;
    color: var(--light-pink);
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
    width: 5rem;
    margin-bottom: 1.5rem;
}

.portfolio-item .portfolio-link:hover{
    background-color: var(--dark-pink);
    color: var(--light-pink);
    transition: .5s ease-in-out;
    font-weight: 600;
    border: none;
}

@media screen and (max-width: 1200px){
    .portfolio-item .portfolio-links{
        margin-top: 12rem;
    }
}

@media screen and (max-width: 890px){
    .portfolio-item .portfolio-item-img{
        min-height: 10rem;
    }.portfolio-item .portfolio-links{
        margin-top: 14rem;
    }
}

@media screen and (max-width: 830px){
    .portfolio-container .portfolio-item{
        flex-basis: 45%;
    }

    .portfolio-item-img h5{
        font-size: 1rem;
    }
}

@media screen and (max-width: 580px){
    .portfolio-container .portfolio-item{
        flex-basis: 90%;
    }

    .portfolio-item .portfolio-links{
        margin-top: 8rem;
    }
}

@media screen and (max-width: 450px){
    .portfolio-item .portfolio-links{
        margin-top: 11rem;
    }
}