.portfolio-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 1.5rem;
    height: 90vh;
    margin-bottom: 1.5rem;
}

.portfolio-container .portfolio-item{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2rem;
    border: 2pt solid var(--dark-pink);
    box-shadow: 0 0 4px var(--medium-pink);
    height: 100%;
}

.portfolio-item .portfolio-item-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--dark-pink);
    text-align: center;
    margin-top: 1rem;
}

.portfolio-item .portfolio-item-img-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--dark-pink);
    text-align: center;
    margin-top: 1rem;
}

.portfolio-item h5{
    padding: 0 0.5rem;
}

.portfolio-item p{
    color: var(--medium-pink);
    text-align: justify;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: 300;
}
.portfolio-item .project-info{
    height: 25rem;
}

.portfolio-item .project-info-c{
    height: 25rem;
    margin-top: 0.2rem;
}

.portfolio-item .portfolio-links{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 7rem;
}

.portfolio-item .portfolio-links-c{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1.6rem;
}

.portfolio-item .portfolio-link{
    border: 2px solid var(--light-brown);
    text-transform: uppercase;
    border-radius: 0.625rem;
    padding: 0.5rem;
    font-weight: 500;
    color: var(--light-pink);
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 2rem;
    width: 5rem;
    margin-bottom: 1.5rem;
}

.portfolio-item .portfolio-link:hover{
    background-color: var(--dark-pink);
    color: var(--light-pink);
    transition: .5s ease-in-out;
    font-weight: 600;
    border: none;
}

@media screen and (max-width: 1024px){
    .portfolio-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 50%;
    }
    .portfolio-container .portfolio-item{
        width: 90%;
    }

    .portfolio-item .project-info{
        height: 14rem;
    }
    
    .portfolio-item .project-info-c{
        height: 14rem;
        margin-top: 1.4rem;
    }

    .portfolio-item .portfolio-links{
        margin-top: 0.9rem;
    }

    .portfolio-item .portfolio-links-c{
        margin-top: -4.5rem;
    }
}

@media screen and (max-width: 930px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
    .portfolio-container .portfolio-item{
        margin-left: 5%;
    }
}

@media screen and (max-width: 468px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}

.portfolio-item .portfolio-links{
    flex-direction: column;
    gap: 0;
}

.portfolio-item .portfolio-links-c{
    flex-direction: column;
    gap: 0;
}

.portfolio-item .portfolio-link{
    margin-top: 0;
    margin-bottom: 0.5;
}

.portfolio-item .project-info{
    height: 13rem;
}

.portfolio-item .project-info-c{
    height: 17rem;
}

.portfolio-container{
    width: 100%;
}

@media screen and (max-width: 380px){
    .portfolio-item .project-info{
        height: 16rem;
    }
    .portfolio-item .project-info-c{
        height: 20rem;
    }
}
