.skills-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 2.5rem;
    margin-bottom: 1rem;
}

.skills-container .skill-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--medium-pink);
    border-radius: 2.5rem;
    padding: 0.5rem;
    min-width: 30%;
}

.skills-container .skill-card:hover{
    background: transparent;
    color: var(--medium-pink);
    border: 1pt solid var(--dark-pink);
}

.skills-container .skill-card:hover .skillbar-perc{
    background: var(--medium-pink);
}

.skills-container .skill-card:hover .skillbar-perc .perc-tip{
    color: var(--medium-pink);
    background-color: var(--dark-pink);
}

.skills-container .skill-card:hover .skillbar-perc .perc-tip::before{
    background-color: var(--dark-pink);
}

.skill-card > ul{
    margin-top: 1rem;
    padding: 0 2rem;
}
.skill-card > ul > li{
    list-style-type:disc;
    text-align: justify;
}

.skill-card .skills-icon{
    color: var(--dark-pink);
    font-size: 3rem;
    margin: 1.5rem 0 1rem 0;
}

.skill-card .obs{
    color: var(--dark-pink);
    font-size: 0.7rem;
    margin-top: 0.7rem;
    width: 80%;
    margin-left: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    line-height: 0.2rem;
}

