

.why-container{
    margin-bottom: 1rem;
}

.why-container .why-list{
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 10%;
    background-color: var(--medium-pink);
    border-radius: 2rem;
    padding: 1.5rem;
    color: var(--medium-black);
    font-weight: 600;
    box-shadow: 0 0 5px var(--medium-pink)
}

.why-list .list-item {
    display: flex;
    gap: 1rem;
    line-height: 2rem;
}

.list-item .why-icon{
    color: var(--dark-pink);
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.list-item .why-icon-1{
    color: var(--dark-pink);
    font-size: 1.85rem;
    margin-top: 0.5rem;
}

.list-item .why-icon-2{
    color: var(--dark-pink);
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

.list-item span{
    color: var(--dark-pink);
    font-weight: 700;
    font-size: 1.2rem;
}

