@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root{
  --light-grey: #F2F2F2;
  --light-pink: #F2C6A0;
  --medium-pink: #D99C79;
  --light-brown: #593122;
  --dark-pink: #8C3730;
  --medium-black: #0D0D0D;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}