@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root{
  --light-grey: #F2F2F2;
  --light-pink: #F2C6A0;
  --medium-pink: #d8936b;
  --light-brown: #593122;
  --dark-pink: #8C3730;
  --medium-black: #0D0D0D;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section{
  background-color: var(--medium-black);
  padding: 20px;
  height: 100%;
}

section > h1{
  font-size: 2.5rem;
}

section > h2{
  color: var(--dark-pink);
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 700;
}

section > h5{
  font-size: 1.3rem;
}

section > h5, section > p{
  color: var(--light-pink);
  text-align: center;
  font-weight: 500;
}

section > p {
  font-weight: 300;
}

.text-light{
  color: var(--light-pink);
}

section > a{
  color: var(--light-pink);
  transition: all 400ms ease-in-out
}

section > a:hover{
  color: var(--dark-pink);
}

section > img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px){
  .container{
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 600px){
  .container{
    width: var(--container-width-sm);
  }

  section > h2{
    margin-bottom: 2rem;
  }
}

